[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
telebot = "*"
telepot = "*"
pydub = "*" 
urllib = "*" 
pprint = "*"
emoji = "*"
SpeechRecognition = "*"


[requires]
python_version = "3.6"